.ContainerFavorites {
    display: block;
    justify-content: center;
    align-items: top;
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    background-image: url('../../../img/fotor_2023-5-2_12_16_33.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.CardsConteinerFavorite{
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
}

@media only screen and (max-width: 500px) {
    .ContainerFavorites {
        display: block;
        justify-content: center;
        align-items: top;
        max-width: 100vw;
        width: 100%;
        min-height: 100vh;
        background-image: url('../../../img/images.jpeg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
 
}