.contenedor {

    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}



.videoform {
    width: 100%;
    height: 99.5%;
    object-fit: cover;
    z-index: 1;

}

.ConteinerSkiButton {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 10%;
    bottom: 5%;
}

#SkipButton {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: 580;
    border: 0px;
    padding: 0px;
}



.forms {
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: rgba(24, 24, 24, 0.5);
    border-radius: 20px;
    color: aliceblue;
    z-index: 2;
}

.forms1 {
    display: none;
}

.FormConteiner {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}



.p1 {
    margin: 0px;
    color: red;
    font-size: 1em;
    font-weight: 600
}

.labelform1 {
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.labelform2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1em
}

.labelform11 {
    margin-top: 7px;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.labelform22 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.label1 {
    margin: 3px;
    font-size: 17px;

}

.input1 {
    border-radius: 5px;
    height: 18px;
}

.input2 {
    border-radius: 5px;
    height: 18px;
}

.label2 {
    margin: 3px;
    font-size: 17px;
}

.forms button {
    margin-top: 7px;
    width: 60px;
    height: 25px;
    border-radius: 5px;
    background-color: cornflowerblue;
    border: 0px;
    color: white;
    font-weight: 600
}

.buttonSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.buttonSubmit button {

    width: 65px;
    height: 25px;
    border-radius: 5px;
    background-color: rgb(12, 209, 227);
    border: 0px;
    color: white;
    font-size: 17px;
}

/*Extra small devices(phones, 600px and down)*/
@media only screen and (max-width: 500px) {
    .videoform {
        width: 100%;
        height: 40%;
        object-fit: cover;
        z-index: 1;
    
    }

    .forms {
        position: absolute;
        top: 35%;
        width: 300px;
        height: 200px;
        background-color: rgba(24, 24, 24, 0.5);
        border-radius: 20px;
        color: aliceblue;
        z-index: 2;
    }
}


@media only screen and (min-width: 500px) {}

.ConteinerSkiButton {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 10%;
    bottom: 3%;
}


/*Medium devices(landscape tablets and large phones, 768px and up)*/
@media only screen and (min-width: 768px) {

}


/*Large devices(large laptops and desktops, 992px and up)*/
@media only screen and (min-width: 992px) {}

/*Extra large devices(large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {}