.Cards {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    background-image: url('../../../img/fotor_2023-5-2_12_16_33.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 90px;
    
    
}


