.About{  
    width: 100vw; 
    height: 100vh; 
    background-image: url('../../../img/fotor_2023-5-2_12_16_33.jpg');
    background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
     
}