.App{  
    width: 1366px; 
    height: 614px; 
    background-image: url('../img/t4XrVGqJ-wallha.com.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   


     
}

